.container{
    height: 100%;
    width: 100%;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    /* background-color:whitesmoke; */


}
.image{
    /* background-color:aliceblue; 
    position: absolute;
    top: 25%; */
    padding: 50px;
     width: 100%;
      height: auto;
     /*box-sizing: border-box;
      object-fit: cover;   */
} 
.text{
    /* background-color: aqua; */
    width: 100%; 
    /* height: 100%;
    display: block;  */

}  